################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationLayers/Template.Application/bin/Debug/net6.0
/ApplicationLayers/Template.Domain/bin/Debug/net6.0
/ApplicationLayers/Template.Domain/obj/Debug/net6.0/ref
/ApplicationLayers/Template.Domain/obj/Debug/net6.0/refint
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/refint
/DependencyContainer/Template.IoC/bin/Debug/net6.0
/DependencyContainer/Template.IoC/obj/Debug/net6.0/ref
/DependencyContainer/Template.IoC/obj/Debug/net6.0/refint
/Example.Template.API/bin/Debug/net6.0
/Example.Template.API/obj/Debug/net6.0/ref
/Example.Template.API/obj/Debug/net6.0/refint
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.AssemblyInfo.cs
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.AssemblyInfoInputs.cache
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.csproj.AssemblyReference.cache
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.csproj.CopyComplete
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.csproj.CoreCompileInputs.cache
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.dll
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.GeneratedMSBuildEditorConfig.editorconfig
/DependencyContainer/Template.IoC/obj/Debug/net6.0/Template.IoC.pdb
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.AssemblyInfo.cs
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.AssemblyInfoInputs.cache
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.csproj.AssemblyReference.cache
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.csproj.CopyComplete
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.csproj.CoreCompileInputs.cache
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.dll
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.genruntimeconfig.cache
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.MvcApplicationPartsAssemblyInfo.cache
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.MvcApplicationPartsAssemblyInfo.cs
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.pdb
/Example.Template.API/obj/Debug/net6.0/Example.Template.API.GeneratedMSBuildEditorConfig.editorconfig
/Example.Template.API/obj/Debug/net6.0/staticwebassets.build.json
/ApplicationLayers/Template.Application/obj/Debug/net6.0/ref
/ApplicationLayers/Template.Application/obj/Debug/net6.0/refint
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.dll
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.GeneratedMSBuildEditorConfig.editorconfig
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.pdb
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.csproj.CoreCompileInputs.cache
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.csproj.CopyComplete
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.AssemblyInfoInputs.cache
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.csproj.AssemblyReference.cache
/ApplicationLayers/Template.Application/obj/Debug/net6.0/Template.Application.AssemblyInfo.cs
/ApplicationLayers/Template.Domain/obj/Debug/net6.0/Template.Domain.AssemblyInfo.cs
/ApplicationLayers/Template.Domain/obj/Debug/net6.0/Template.Domain.AssemblyInfoInputs.cache
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.AssemblyInfo.cs
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.AssemblyInfoInputs.cache
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.csproj.AssemblyReference.cache
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.csproj.CopyComplete
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.csproj.CoreCompileInputs.cache
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.dll
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.pdb
/ApplicationLayers/Template.Infrastructure/obj/Debug/net6.0/Template.Infrastructure.genruntimeconfig.cache
