################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationLayers/Template.Application/bin/Debug/net6.0
